node_modules/
portal/uploads/
portal/work/
portal/data/

# macOS system files
.DS_Store
**/.DS_Store
.Spotlight-V100/
**/.Spotlight-V100/
.fseventsd/
**/.fseventsd/
.Trashes/
**/.Trashes/

# Windows system files
Thumbs.db
$RECYCLE.BIN/
**/$RECYCLE.BIN/
System Volume Information/
**/System Volume Information/
desktop.ini
