@font-face {
  font-family: "Classroom Chicago";
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src:
    local("Chicago"),
    url("https://fonts.cdnfonts.com/s/19947/Chicago.woff") format("woff");
}

@font-face {
  font-family: "Classroom Univers";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Univers"),
    url("https://fonts.cdnfonts.com/s/38968/UniversRegular.woff") format("woff");
}

@font-face {
  font-family: "Classroom Univers";
  font-style: normal;
  font-weight: 700 900;
  font-display: swap;
  src:
    local("Univers Bold"),
    local("Univers"),
    url("https://fonts.cdnfonts.com/s/38968/UniversBold.woff") format("woff");
}
